<!DOCTYPE html>
<html>
<head>
<style>
h1{
  text-align: center;
  font-family: Arial;
  color:#000000;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #663399;
  font-size: 18px;
}

li {
  float: right;
}

li a {

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #696969;
}

a:link {
  color: #;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

</style>
</head>
<body>

<ul>
<li style="float:left"><a href="#Workspace"><%= @workspace.wks_name %></a></li>
 
  <li><a href="#home">Home</a></li>
  
</ul>

<div class="center jumbotron">
<h1> Channel Lists </h1>

      
<table>
  <thead>
   
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><a href="/workspaces/:id"><%= channel.channel_name %></a></td>    
        
      </tr>
    <% end %>
  </tbody>
</table><br><br>

<%= link_to "New Channel", new_channel_path(:id => @workspace.id) %> <br>
  </div>  
</body>
</html>
