<div class="card">
<div class="card-block">
  <div class="row">
    <div class="col-sm-1">
      <% @msg = User.find(message.user_id) %>
      <%= gravatar_for @msg %>
    </div>
    <div class="col-sm-6">
      <p class="card-text">
        <span class="text-muted"><%= @msg.name %> at <%= message.timestamp %> says</span><br>
        <%= message.talk %>
      </p>
    </div>
    <div class="col-sm-5">
    </div>
  </div>

</div>
</div>


