<% provide(:title, "About") %>
<div class="navv">
  <%= render 'layouts/nav2' %>
</div>

<div class="sidenav">
  <%= render 'layouts/sidebar' %>
</div>

<div class="main" align="center">
 <div class="about">
     <h2 align="center">About</h2><br>
     <h5 align="center"><i>Team-4</i></h5>
     <p align="center"><u>Team Members</u> </p>

     <div class="member">
                May Thin Han <br>
                Soe Mya Thidar<br>
                Yoon Myat Thwe
    </div>
                

 <div>
</div>