<% provide(:title, "Home") %>

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px"><%= t('Welcome Our ChatApp') %></h1><br><br>
    <%= link_to t('Sign up now!'), '/signup', class: "btn btn-lg btn-secondary" %>
    <%= link_to t('Login!'), '/login', class: "btn btn-lg btn-secondary" %>
  </div>
</div>


