<ul>
  <li style="float:left"><a href="#Workspace"><%= @workspace.wks_name %></a></li>  
  <li><%= link_to "Log Out", logout_path, method: :delete %></li>
  <li><%= link_to current_user.email, '/users/edit' %></li>  
  <li><%= link_to "Home", workspace_path(@workspace) %></li>  
</ul>